.input {
  display: flex;
}

.list-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.list-container > * {
  flex: 1 1 0;
  min-width: 0;
  margin: 0 8px;
}